# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Kripton\Desktop\Trendyol Data Bootcamp\data-bootcamp-flink\.idea/dataSources/
/dataSources.local.xml
